# Beginning Data Analysis

In [2]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 4, 'max_rows', 10, 'max_colwidth', 12)

## Introduction

## Developing a data analysis routine

### How to do it...

In [4]:
college = pd.read_csv('../data/college.csv')
college.sample(random_state=42)

           INSTNM         CITY  ... MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
3649  Career P...  San Antonio  ...        20700           14977

[1 rows x 27 columns]

In [ ]:
college.shape

In [ ]:
college.info()

In [ ]:
college.describe(include=[np.number]).T

In [ ]:
college.describe(include=[np.object, pd.Categorical]).T

### How it works...

### There's more...

In [ ]:
college.describe(include=[np.number],
   percentiles=[.01, .05, .10, .25, .5,
                .75, .9, .95, .99]).T

## Data dictionaries

In [9]:
pd.read_csv('../data/college_data_dictionary.csv')

    column_name  description
0        INSTNM  Institut...
1          CITY  City Loc...
2        STABBR  State Ab...
3          HBCU  Historic...
4       MENONLY  0/1 Men ...
..          ...          ...
22      PCTPELL  Percent ...
23     PCTFLOAN  Percent ...
24      UG25ABV  Percent ...
25  MD_EARN_...  Median E...
26  GRAD_DEB...  Median d...

[27 rows x 2 columns]

## Reducing memory by changing data types

### How to do it...

In [8]:
college = pd.read_csv('../data/college.csv')
different_cols = ['RELAFFIL', 'SATMTMID', 'CURROPER',
   'INSTNM', 'STABBR']
col2 = college.loc[:, different_cols]
col2.head()

   RELAFFIL  SATMTMID  ...       INSTNM STABBR
0         0     420.0  ...  Alabama ...     AL
1         0     565.0  ...  Universi...     AL
2         1       NaN  ...  Amridge ...     AL
3         0     590.0  ...  Universi...     AL
4         0     430.0  ...  Alabama ...     AL

[5 rows x 5 columns]

In [ ]:
col2.dtypes

In [ ]:
original_mem = col2.memory_usage(deep=True)
original_mem

In [ ]:
col2['RELAFFIL'] = col2['RELAFFIL'].astype(np.int8)

In [ ]:
col2.dtypes

In [ ]:
college[different_cols].memory_usage(deep=True)

In [ ]:
col2.select_dtypes(include=['object']).nunique()

In [ ]:
col2['STABBR'] = col2['STABBR'].astype('category')
col2.dtypes

In [ ]:
new_mem = col2.memory_usage(deep=True)
new_mem

In [ ]:
new_mem / original_mem

### How it works...

### There's more...

In [ ]:
college.loc[0, 'CURROPER'] = 10000000
college.loc[0, 'INSTNM'] = college.loc[0, 'INSTNM'] + 'a'
college[['CURROPER', 'INSTNM']].memory_usage(deep=True)

In [ ]:
college['MENONLY'].dtype

In [ ]:
college['MENONLY'].astype(np.int8)

In [ ]:
college.assign(MENONLY=college['MENONLY'].astype('float16'),
    RELAFFIL=college['RELAFFIL'].astype('int8'))

In [ ]:
college.index = pd.Int64Index(college.index)
college.index.memory_usage() # previously was just 80

## Selecting the smallest of the largest

### How to do it...

In [11]:
movie = pd.read_csv('../data/movie.csv')
movie2 = movie[['movie_title', 'imdb_score', 'budget']]
movie2.head()

   movie_title  imdb_score       budget
0       Avatar         7.9  237000000.0
1  Pirates ...         7.1  300000000.0
2      Spectre         6.8  245000000.0
3  The Dark...         8.5  250000000.0
4  Star War...         7.1          NaN

In [ ]:
movie2.nlargest(100, 'imdb_score').head()

In [ ]:
(movie2
  .nlargest(100, 'imdb_score')
  .nsmallest(5, 'budget')
)

### How it works...

### There's more...

## Selecting the largest of each group by sorting

### How to do it...

In [12]:
movie = pd.read_csv('../data/movie.csv')
movie[['movie_title', 'title_year', 'imdb_score']]

      movie_title  title_year  imdb_score
0          Avatar      2009.0         7.9
1     Pirates ...      2007.0         7.1
2         Spectre      2015.0         6.8
3     The Dark...      2012.0         8.5
4     Star War...         NaN         7.1
...           ...         ...         ...
4911  Signed S...      2013.0         7.7
4912  The Foll...         NaN         7.5
4913  A Plague...      2013.0         6.3
4914  Shanghai...      2012.0         6.3
4915  My Date ...      2004.0         6.6

[4916 rows x 3 columns]

In [ ]:
(movie
  [['movie_title', 'title_year', 'imdb_score']]
  .sort_values('title_year', ascending=False)
)

In [ ]:
(movie
  [['movie_title', 'title_year', 'imdb_score']]
  .sort_values(['title_year','imdb_score'],
               ascending=False)
)

In [ ]:
(movie
  [['movie_title', 'title_year', 'imdb_score']]
  .sort_values(['title_year','imdb_score'],
               ascending=False)
  .drop_duplicates(subset='title_year')
)

### How it works...

## There's more...

In [ ]:
(movie
  [['movie_title', 'title_year', 'imdb_score']]
  .groupby('title_year', as_index=False)
  .apply(lambda df: df.sort_values('imdb_score',
         ascending=False).head(1))
  .sort_values('title_year', ascending=False)
)

In [ ]:
(movie
  [['movie_title', 'title_year',
    'content_rating', 'budget']]
   .sort_values(['title_year',
       'content_rating', 'budget'],
       ascending=[False, False, True])
   .drop_duplicates(subset=['title_year',
        'content_rating'])
)

## Replicating nlargest with sort_values

### How to do it...

In [ ]:
movie = pd.read_csv('data/movie.csv')
(movie
   [['movie_title', 'imdb_score', 'budget']]
   .nlargest(100, 'imdb_score') 
   .nsmallest(5, 'budget')
)

In [ ]:
(movie
   [['movie_title', 'imdb_score', 'budget']]
   .sort_values('imdb_score', ascending=False)
   .head(100)
)

In [ ]:
(movie
   [['movie_title', 'imdb_score', 'budget']]
   .sort_values('imdb_score', ascending=False)
   .head(100) 
   .sort_values('budget')
   .head(5)
)

### How it works...

In [ ]:
(movie
   [['movie_title', 'imdb_score', 'budget']]
   .nlargest(100, 'imdb_score')
   .tail()
)

In [ ]:
(movie
   [['movie_title', 'imdb_score', 'budget']]
   .sort_values('imdb_score', ascending=False) 
   .head(100)
   .tail()
)

## Calculating a trailing stop order price

### How to do it...

In [ ]:
import datetime
import pandas_datareader.data as web
import requests_cache
session = requests_cache.CachedSession(
   cache_name='cache', backend='sqlite', 
   expire_after=datetime.timedelta(days=90))

In [ ]:
tsla = web.DataReader('tsla', data_source='yahoo',
   start='2017-1-1', session=session)
tsla.head(8)

In [ ]:
tsla_close = tsla['Close']

In [ ]:
tsla_cummax = tsla_close.cummax()
tsla_cummax.head()

In [ ]:
(tsla
  ['Close']
  .cummax()
  .mul(.9)
  .head()
)

### How it works...

### There's more...