# Chapter 2: Essential DataFrame Operations

In [13]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', 4, 'max_rows', 10, 'max_colwidth', 12)

## Introduction

## Selecting Multiple DataFrame Columns

### How to do it\...

In [3]:
movies = pd.read_csv('../data/movie.csv')
movie_actor_director = movies[['actor_1_name', 'actor_2_name',
    'actor_3_name', 'director_name']]
movie_actor_director.head()

  actor_1_name actor_2_name actor_3_name director_name
0  CCH Pounder  Joel Dav...    Wes Studi  James Ca...
1  Johnny Depp  Orlando ...  Jack Dav...  Gore Ver...
2  Christop...  Rory Kin...  Stephani...   Sam Mendes
3    Tom Hardy  Christia...  Joseph G...  Christop...
4  Doug Walker   Rob Walker          NaN  Doug Walker

In [ ]:
type(movies[['director_name']])

In [ ]:
type(movies['director_name'])

In [ ]:
type(movies.loc[:, ['director_name']])

In [ ]:
type(movies.loc[:, 'director_name'])

### How it works\...

### There\'s more\...

In [ ]:
cols = ['actor_1_name', 'actor_2_name',
        'actor_3_name', 'director_name']
movie_actor_director = movies[cols]

In [ ]:
movies['actor_1_name', 'actor_2_name',
      'actor_3_name', 'director_name']

## Selecting Columns with Methods

### How it works\...

In [28]:
movies = pd.read_csv('../data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)

# movies.get_dtype_counts() provoques a non attribute error
# It's replaced by the followinf that gives the same result.

movies.dtypes.value_counts()

float64    13
object     12
int64       3
dtype: int64

In [ ]:
movies.select_dtypes(include='int').head()

In [ ]:
movies.select_dtypes(include='number').head()

In [ ]:
movies.select_dtypes(include=['int', 'object']).head()

In [ ]:
movies.select_dtypes(exclude='float').head()

In [ ]:
movies.filter(like='fb').head()

In [ ]:
cols = ['actor_1_name', 'actor_2_name',
        'actor_3_name', 'director_name']
movies.filter(items=cols).head()

In [ ]:
movies.filter(regex=r'\d').head()

### How it works\...

### There\'s more\...

### See also

## Ordering Column Names

### How to do it\...

In [18]:
movies = pd.read_csv('../data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)

In [ ]:
movies.columns

In [ ]:
cat_core = ['movie_title', 'title_year',
            'content_rating', 'genres']
cat_people = ['director_name', 'actor_1_name',
              'actor_2_name', 'actor_3_name']
cat_other = ['color', 'country', 'language',
             'plot_keywords', 'movie_imdb_link']
cont_fb = ['director_fb', 'actor_1_fb',
           'actor_2_fb', 'actor_3_fb',
           'cast_total_fb', 'movie_fb']
cont_finance = ['budget', 'gross']
cont_num_reviews = ['num_voted_users', 'num_user',
                    'num_critic']
cont_other = ['imdb_score', 'duration',
               'aspect_ratio', 'facenumber_in_poster']

In [ ]:
new_col_order = cat_core + cat_people + \
                cat_other + cont_fb + \
                cont_finance + cont_num_reviews + \
                cont_other
set(movies.columns) == set(new_col_order)

In [ ]:
movies[new_col_order].head()

### How it works\...

### There\'s more\...

### See also

## Summarizing a DataFrame

### How to do it\...

In [19]:
movies = pd.read_csv('../data/movie.csv')
movies.shape

(4916, 28)

In [ ]:
movies.size

In [ ]:
movies.ndim

In [ ]:
len(movies)

In [ ]:
movies.count()

In [ ]:
movies.min()

In [ ]:
movies.describe().T

In [ ]:
movies.describe(percentiles=[.01, .3, .99]).T

### How it works\...

### There\'s more\...

In [ ]:
movies.min(skipna=False)

## Chaining DataFrame Methods

### How to do it\...

In [20]:
movies = pd.read_csv('../data/movie.csv')
def shorten(col):
    return (col.replace('facebook_likes', 'fb')
               .replace('_for_reviews', '')
    )
movies = movies.rename(columns=shorten)
movies.isnull().head()

   color  director_name  ...  aspect_ratio  movie_fb
0  False        False    ...        False      False
1  False        False    ...        False      False
2  False        False    ...        False      False
3  False        False    ...        False      False
4   True        False    ...         True      False

[5 rows x 28 columns]

In [ ]:
(movies
   .isnull()
   .sum()
   .head()
)

In [ ]:
movies.isnull().sum().sum()

In [ ]:
movies.isnull().any().any()

### How it works\...

In [ ]:
movies.isnull().get_dtype_counts()

### There\'s more\...

In [ ]:
movies[['color', 'movie_title', 'color']].max()

In [ ]:
with pd.option_context('max_colwidth', 20):
    movies.select_dtypes(['object']).fillna('').max()

In [ ]:
with pd.option_context('max_colwidth', 20):
    (movies
        .select_dtypes(['object'])
        .fillna('')
        .max()
    )

### See also

## DataFrame Operations

In [21]:
colleges = pd.read_csv('../data/college.csv')
colleges + 5

TypeError: can only concatenate str (not "int") to str

In [22]:
colleges = pd.read_csv('../data/college.csv', index_col='INSTNM')
college_ugds = colleges.filter(like='UGDS_')
college_ugds.head()

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...      0.0333      0.9353  ...    0.0059     0.0138
Universit...      0.5922      0.2600  ...    0.0179     0.0100
Amridge U...      0.2990      0.4192  ...    0.0000     0.2715
Universit...      0.6988      0.1255  ...    0.0332     0.0350
Alabama S...      0.0158      0.9208  ...    0.0243     0.0137

[5 rows x 9 columns]

In [ ]:
name = 'Northwest-Shoals Community College'
college_ugds.loc[name]

In [ ]:
college_ugds.loc[name].round(2)

In [ ]:
(college_ugds.loc[name] + .0001).round(2)

In [ ]:
college_ugds + .00501

In [ ]:
(college_ugds + .00501) // .01

In [ ]:
college_ugds_op_round = (college_ugds + .00501) // .01 / 100
college_ugds_op_round.head()

In [ ]:
college_ugds_round = (college_ugds + .00001).round(2)
college_ugds_round

In [ ]:
college_ugds_op_round.equals(college_ugds_round)

### How it works\...

In [ ]:
.045 + .005

### There\'s more\...

In [ ]:
college2 = (college_ugds
    .add(.00501) 
    .floordiv(.01) 
    .div(100)
)
college2.equals(college_ugds_op_round)

### See also

## Comparing Missing Values

In [ ]:
np.nan == np.nan

In [ ]:
None == None

In [ ]:
np.nan > 5

In [ ]:
5 > np.nan

In [ ]:
np.nan != 5

### Getting ready

In [23]:
college = pd.read_csv('../data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')

In [ ]:
college_ugds == .0019

In [ ]:
college_self_compare = college_ugds == college_ugds
college_self_compare.head()

In [ ]:
college_self_compare.all()

In [ ]:
(college_ugds == np.nan).sum()

In [ ]:
college_ugds.isnull().sum()

In [ ]:
college_ugds.equals(college_ugds)

### How it works\...

### There\'s more\...

In [ ]:
college_ugds.eq(.0019)    # same as college_ugds == .0019

In [ ]:
from pandas.testing import assert_frame_equal
assert_frame_equal(college_ugds, college_ugds) is None

## Transposing the direction of a DataFrame operation

### How to do it\...

In [24]:
college = pd.read_csv('../data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')
college_ugds.head()

              UGDS_WHITE  UGDS_BLACK  ...  UGDS_NRA  UGDS_UNKN
INSTNM                                ...
Alabama A...      0.0333      0.9353  ...    0.0059     0.0138
Universit...      0.5922      0.2600  ...    0.0179     0.0100
Amridge U...      0.2990      0.4192  ...    0.0000     0.2715
Universit...      0.6988      0.1255  ...    0.0332     0.0350
Alabama S...      0.0158      0.9208  ...    0.0243     0.0137

[5 rows x 9 columns]

In [ ]:
college_ugds.count()

In [ ]:
college_ugds.count(axis='columns').head()

In [ ]:
college_ugds.sum(axis='columns').head()

In [ ]:
college_ugds.median(axis='index')

### How it works\...

### There\'s more\...

In [ ]:
college_ugds_cumsum = college_ugds.cumsum(axis=1)
college_ugds_cumsum.head()

### See also

## Determining college campus diversity

In [25]:
pd.read_csv('../data/college_diversity.csv', index_col='School')

              Diversity Index
School
Rutgers U...         0.76
Andrews U...         0.74
Stanford ...         0.74
Universit...         0.74
Universit...         0.74
Universit...         0.74
San Franc...         0.73
Universit...         0.73
New Jerse...         0.72
Texas Wom...         0.72

### How to do it\...

In [26]:
college = pd.read_csv('../data/college.csv', index_col='INSTNM')
college_ugds = college.filter(like='UGDS_')

In [ ]:
(college_ugds.isnull()
   .sum(axis='columns')
   .sort_values(ascending=False)
   .head()
)

In [ ]:
college_ugds = college_ugds.dropna(how='all')
college_ugds.isnull().sum()

In [ ]:
college_ugds.ge(.15)

In [ ]:
diversity_metric = college_ugds.ge(.15).sum(axis='columns')
diversity_metric.head()

In [ ]:
diversity_metric.value_counts()

In [ ]:
diversity_metric.sort_values(ascending=False).head()

In [ ]:
college_ugds.loc[['Regency Beauty Institute-Austin',
                   'Central Texas Beauty College-Temple']]

In [ ]:
us_news_top = ['Rutgers University-Newark',
                  'Andrews University',
                  'Stanford University',
                  'University of Houston',
                  'University of Nevada-Las Vegas']
diversity_metric.loc[us_news_top]

### How it works\...

### There\'s more\...

In [ ]:
(college_ugds
   .max(axis=1)
   .sort_values(ascending=False)
   .head(10)
)

In [ ]:
(college_ugds > .01).all(axis=1).any()

### See also